# dependencies
node_modules/

# generated zip files
*.zip

# OS
.DS_Store

# IDEs
.idea/

# environment files
.env
.env.*
!.env.example
/server/makefiles/local.env

# Next.js build output
.next

# logs
*.log

# TypeScript build info
*.tsbuildinfo
