@tailwind base;
@tailwind components;
@tailwind utilities;

.active-page {
  color: red;
}

.pagination {
  margin-right: 10px;
  margin-left: 10px;
}

.thumb {
  width: 200px;
  height: 200px;
}

.carousel {
  width: 900px;
  height: 500px;
}
.carousel-image{
  width: 500px;
  height: 400px;
}
.checkbox{
  margin-bottom: 10px;
  margin-left: 30px;
  background-color: white;
  z-index: 20;
}
.navbg-color{
  background: #2196f3;
;
}
.menu{
  position: relative;
  display: inline-block;
  text-align: left;
  padding-right: 8px;
  margin-top: 20px;
  z-index: 10;
}
.location_menu{
  position: relative;
  display: inline-block;
  text-align: left;
  padding-right: 8px;
  margin-top: 20px;
  z-index: 20;
}
.check-button {
  height: 20px; 
  width: 20px; 
  color: #38b2ac; 
}