AVNI_MEDIA_AWS_ACCESS_KEY_ID={{AWS_ACCESS_KEY_ID}}
AVNI_MEDIA_AWS_SECRET_ACCESS_KEY={{AWS_SECRET_ACCESS_KEY}}
AVNI_MEDIA_S3_BUCKET_NAME=rwb-prod-user-media
AVNI_MEDIA_S3_ZIP_UPLOAD_BUCKET_NAME=rwb-prod-user-media
AVNI_MEDIA_AWS_REGION=ap-south-1

AVNI_MEDIA_DB_HOST=serverdb.rwb.avniproject.org
AVNI_MEDIA_DB_PORT=5432
AVNI_MEDIA_DB_USERNAME="avni_media"
AVNI_MEDIA_DB_PASSWORD={{DB_PASSWORD}}
AVNI_MEDIA_DB_DATABASE="avni_media"