NEXT_PUBLIC_ETL=/etl
NEXT_PUBLIC_MEDIA_VIEWER=http://localhost:3010/media-viewer
NEXT_PUBLIC_WEB=
NEXT_PUBLIC_ENVIRONMENT=dev
NEXT_PUBLIC_WEBAPP_BASE_URL=http://localhost:6010
# Specify avni user-id below if running avni-server and etl without idp
NEXT_PUBLIC_LOCAL_DEV_USER=

# Actual Service URL to be used only next JS middleware
NEXT_PUBLIC_ETL_MIDDLEWARE=http://localhost:8022
NEXT_PUBLIC_WEB_MIDDLEWARE=http://localhost:8021
