NEXT_PUBLIC_IMAGE_LIST_URL=https://int-prerelease.avniproject.org/etl/media
NEXT_PUBLIC_DOWNLOAD_REQUEST_URL=https://int-prerelease.avniproject.org/media-viewer/requestDownload
NEXT_PUBLIC_DOWNLOAD_LIST_URL=https://int-prerelease.avniproject.org/media-viewer/allData
NEXT_PUBLIC_OPERATIONAL_MODULE=https://prerelease.avniproject.org/web/operationalModules
NEXT_PUBLIC_FORMS=https://prerelease.avniproject.org/web/form/
NEXT_PUBLIC_TOP_ADDRESS=https://prerelease.avniproject.org/locations/search/find