NEXT_PUBLIC_IMAGE_LIST_URL=https://int-staging.avniproject.org/etl/media
NEXT_PUBLIC_DOWNLOAD_REQUEST_URL=https://int-staging.avniproject.org/media-viewer/requestDownload
NEXT_PUBLIC_DOWNLOAD_LIST_URL=https://int-staging.avniproject.org/media-viewer/allData